@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Poppins:ital,wght@1,600&family=Roboto&family=Roboto+Condensed:ital@1&display=swap');
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration:none ;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
:root{
    --main-color:#ff2c1f;
    --text-color:#020307;
    --bg-color:#fff;
}
body{
    background: var(--text-color);
    color: var(--bg-color);
}
section{
    padding: 4.5rem 0 1.5rem;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
   /* background: var(--main-color);*/

}
.logo{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.logo .bx{
    font-size: 24px;
    color:var(--main-color);

}
.navbar{
    display: flex;
    column-gap: 5rem;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);

}
.navbar a::after{
    content: '';
    width: 0;
    height:2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}
.navbar a:hover::after{
    width: 100%;
}
.home-active::after{
    width: 100%;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}
.btn{
    padding: 0.7rem 1.4rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}
.btn:hover{
    background:#fa1216;

}

.conatiner{
    width:100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(2,3,7,0.4);
}
.conatiner img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

 